<div class="forum-post">
      <div class="post-header">
          <h3>{{#linkto 'post' post.id}}{{post.title}}{{/linkto}}</h3>
              <div class="post-meta">
                    <span class="author">by {{post.author.username}}</span>
                          <span class="date">{{formatDate post.createdAt}}</span>
                              </div>
                                </div>
                                  <div class="post-content">
                                      {{{post.body}}}
                                        </div>
                                        </div>
                                        